In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [4]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")

In [5]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train_df.groupby(["Sex","Survived"]).size()
#性別ごとの生き残った人の数がgroupbyの役割

Sex     Survived
female  0            81
        1           233
male    0           468
        1           109
dtype: int64

In [13]:
pd.DataFrame(train_df.groupby(["Pclass","Survived"]).size().reset_index().rename(columns={0:"count"}))

   Pclass  Survived  count
0       1         0     80
1       1         1    136
2       2         0     97
3       2         1     87
4       3         0    372
5       3         1    119

In [14]:
pd.DataFrame(train_df.groupby(["Sex","Pclass","Survived"]).size().reset_index().rename(columns={0:"count"}))

       Sex  Pclass  Survived  count
0   female       1         0      3
1   female       1         1     91
2   female       2         0      6
3   female       2         1     70
4   female       3         0     72
5   female       3         1     72
6     male       1         0     77
7     male       1         1     45
8     male       2         0     91
9     male       2         1     17
10    male       3         0    300
11    male       3         1     47

In [16]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
train_df["Age"].median()

28.0

In [23]:
train_df["Age"] = train_df["Age"].fillna(28)

In [24]:
train_df["Age"].isnull().sum()

0

In [25]:
train_df["Age"].unique()

array([22.  , 38.  , 26.  , 35.  , 28.  , 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  ,  8.  ,
       19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  , 49.  ,
       29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  , 16.  ,
       25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  , 71.  ,
       37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 , 51.  ,
       55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  , 45.5 ,
       20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  , 60.  ,
       10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  , 70.  ,
       24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [26]:
train_df["generation"] = (train_df["Age"]/10).astype(int)*10

In [27]:
train_df["generation"]

0      20
1      30
2      20
3      30
4      30
       ..
886    20
887    10
888    20
889    20
890    30
Name: generation, Length: 891, dtype: int64

In [28]:
pd.DataFrame(train_df.groupby(["generation","Survived"]).size().reset_index().rename(columns={0:"count"}))

    generation  Survived  count
0            0         0     24
1            0         1     38
2           10         0     61
3           10         1     41
4           20         0    268
5           20         1    129
6           30         0     94
7           30         1     73
8           40         0     55
9           40         1     34
10          50         0     28
11          50         1     20
12          60         0     13
13          60         1      6
14          70         0      6
15          80         1      1

In [29]:
df = train_df[["Survived","Sex","generation","Pclass"]]

In [30]:
df

     Survived     Sex  generation  Pclass
0           0    male          20       3
1           1  female          30       1
2           1  female          20       3
3           1  female          30       1
4           0    male          30       3
..        ...     ...         ...     ...
886         0    male          20       2
887         1  female          10       1
888         0  female          20       3
889         1    male          20       1
890         0    male          30       3

[891 rows x 4 columns]

In [32]:
df["Sex"].map({"male":0,"female":1})

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [33]:
df["Sex"] = df["Sex"].map({"male":0,"female":1})

/tmp/ipykernel_33/604574433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sex"] = df["Sex"].map({"male":0,"female":1})

In [34]:
df.head()

   Survived  Sex  generation  Pclass
0         0    0          20       3
1         1    1          30       1
2         1    1          20       3
3         1    1          30       1
4         0    0          30       3

In [42]:
df["generation"] = df["generation"].astype(str)
df["Pclass"] = df["Pclass"].astype(str)

/tmp/ipykernel_33/3990282884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["generation"] = df["generation"].astype(str)
/tmp/ipykernel_33/3990282884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Pclass"] = df["Pclass"].astype(str)

In [43]:
df.dtypes

Survived       int64
Sex            int64
generation    object
Pclass        object
dtype: object

In [48]:
dummies = pd.get_dummies(df[["generation","Pclass"]])

In [46]:
# df["generation"]

0      20
1      30
2      20
3      30
4      30
       ..
886    20
887    10
888    20
889    20
890    30
Name: generation, Length: 891, dtype: object

In [49]:
pd.concat([df,dummies],axis=1).drop(["generation","Pclass"],axis=1)

,Survived,Sex,generation_0,generation_10,generation_20,generation_30,generation_40,generation_50,generation_60,generation_70,generation_80,Pclass_1,Pclass_2,Pclass_3
0,0,0,False,False,True,False,False,False,False,False,False,False,False,True
1,1,1,False,False,False,True,False,False,False,False,False,True,False,False
2,1,1,False,False,True,False,False,False,False,False,False,False,False,True
3,1,1,False,False,False,True,False,False,False,False,False,True,False,False
4,0,0,False,False,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,False,False,True,False,False,False,False,False,False,False,True,False
887,1,1,False,True,False,False,False,False,False,False,False,True,False,False
888,0,1,False,False,True,False,False,False,False,False,False,False,False,True
889,1,0,False,False,True,False,False,False,False,False,False,True,False,False
890,0,0,False,False,False,True,False,False,False,False,False,False,False,True

In [50]:
dataset = pd.concat([df,dummies],axis=1).drop(["generation","Pclass"],axis=1)

In [51]:
df = dataset

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [53]:
X = df.drop("Survived",axis=1)
y = df[["Survived"]]

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [55]:
clf = RandomForestClassifier()

In [56]:
clf.fit(X_train,y_train)

/tmp/ipykernel_33/993133242.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train,y_train)

RandomForestClassifier()

In [58]:
pred = clf.predict(X_test)

In [59]:
X_test

,Sex,generation_0,generation_10,generation_20,generation_30,generation_40,generation_50,generation_60,generation_70,generation_80,Pclass_1,Pclass_2,Pclass_3
709,0,False,False,True,False,False,False,False,False,False,False,False,True
439,0,False,False,False,True,False,False,False,False,False,False,True,False
840,0,False,False,True,False,False,False,False,False,False,False,False,True
720,1,True,False,False,False,False,False,False,False,False,False,True,False
39,1,False,True,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,0,False,True,False,False,False,False,False,False,False,False,False,True
525,0,False,False,False,False,True,False,False,False,False,False,False,True
381,1,True,False,False,False,False,False,False,False,False,False,False,True
140,1,False,False,True,False,False,False,False,False,False,False,False,True
173,0,False,False,True,False,False,False,False,False,False,False,False,True

In [60]:
from sklearn.metrics import accuracy_score

In [61]:
accuracy_score(y_test, pred)

0.7898305084745763